<!-- <p>sidebar works!</p> -->
<a [routerLink]="['/pages']" class="brand-link">
  <img src="../../../../assets/img/logo.png" alt="" style="width: 20%;">
  <span class="brand-text font-weight-light">Examen Técnico</span>
</a>

<div class="sidebar">
  <!-- Construccion de Menu -->
  <nav class="mt-2">
    <ul
      class="nav nav-pills nav-sidebar flex-column"
      data-widget="treeview"
      role="menu"
      data-accordion="false"
    >
      <li class="nav-header">MENU PRINCIPAL</li>
      <li class="nav-item">
        <a [routerLink]="['autor/autor-list']" class="nav-link">
          <i class="nav-icon fas fa-user-tie"></i>
          <p>Autores</p>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['editorial/editorial-list']" class="nav-link">
          <i class="nav-icon fas fa-book"></i>
          <p>Editoriales</p>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['categoria/categoria-list']" class="nav-link">
          <i class="nav-icon fas fa-users"></i>
          <p>Categorias</p>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['libro/libro-list']" class="nav-link">
          <i class="nav-icon fas fa-address-book"></i>
          <p>Libros</p>
        </a>
      </li>

      <!-- <li class="nav-header">REPORTES</li>
      <li class="nav-item">
        <a [routerLink]="['reportes/reporte-vencido']" class="nav-link">
          <i class="nav-icon fas fa-bomb"></i>
          <p>Prestamos Vencidos</p>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['reportes/reporte-sergmentados']" class="nav-link">
          <i class="nav-icon fas fa-calendar-check"></i>
          <p>Prestamos Segmentados</p>
        </a>
      </li> -->
      
    </ul>
  </nav>
  <!-- {{ menu }} -->
  <!-- FIN -->
</div>
