<!-- <p>categoria-form works!</p> -->
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">
        {{ isEdit ? "Editar Categoria" : "Agregar Categoria" }}
      </h5>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        (click)="limpiar()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form action="" [formGroup]="formCategoria" (ngSubmit)="createCategoria()">
      <div class="modal-body">
        <div class="mb-4">
          <label for="" class="form-label">Categoria</label>
          <input
            type="text"
            formControlName="categoria"
            class="form-control"
            placeholder="Ingrese Nombre de la Categoria."
          />
          <div
            class="error mt-4"
            style="color: red"
            [hidden]="categoria.valid || categoria.pristine"
          >
            El Titulo del Libro es obligatorio
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="limpiar()"
        >
          Cerrar
        </button>
        <button
          type="submit"
          class="btn btn-success"
          [hidden]="formCategoria.invalid"
          [disabled]="isClicked"
        >
          {{ isEdit ? "Editar" : "Guardar" }}
        </button>
      </div>
    </form>
  </div>
</div>
