<!-- <p>libro-form works!</p> -->
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">
        {{ isEdit ? "Editar Libro" : "Agregar Libro" }}
      </h5>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        (click)="limpiar()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form action="" [formGroup]="formLibro" (ngSubmit)="createLibro()">
      <div class="modal-body">
        <div class="mb-2">
          <label for="" class="form-label">Titulo</label>
          <input
            type="text"
            formControlName="titulo"
            class="form-control"
            placeholder="Ingrese Titulo del Libro"
          />
          <div
            class="error mt-2"
            style="color: red"
            [hidden]="titulo.valid || titulo.pristine"
          >
            El Titulo del Libro es obligatorio
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-2">
            <label for="" class="form-label">Número de Edición</label>
            <input
              type="number"
              formControlName="num_edicion"
              class="form-control"
              placeholder="Ingrese Titulo del Libro"
            />
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="num_edicion.valid || num_edicion.pristine"
            >
              El Número de Edcición del Libro es obligatorio
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <label for="" class="form-label">Número de Páginas</label>
            <input
              type="number"
              formControlName="num_paginas"
              class="form-control"
              placeholder="Ingrese Titulo del Libro"
            />
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="num_paginas.valid || num_paginas.pristine"
            >
              El Número de Páginas del Libro es obligatorio
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-2">
            <label for="" class="form-label">Categoria</label>
            <ng-select
              [(ngModel)]="selectedLibro"
              formControlName="id_categorias"
            >
              <ng-option *ngFor="let a of listaCategorias" [value]="a.id">{{
                a.categoria
              }}</ng-option>
            </ng-select>
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="titulo.valid || titulo.pristine"
            >
              La Categoria del Libro es obligatorio
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <label for="" class="form-label">Fecha Publicación</label>
            <input
              type="date"
              formControlName="fecha_publicacion"
              class="form-control"
              placeholder="Ingrese la Fecha de Publicación"
            />
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="fecha_publicacion.valid || fecha_publicacion.pristine"
            >
              El Titulo del Libro es obligatorio
            </div>
          </div>
        </div>
        <div class="mb-2">
          <label for="" class="form-label">Sinopsis</label>
          <textarea
            class="form-control"
            id=""
            cols="30"
            rows="10"
            formControlName="sinopsis"
            placeholder="Ingrese Sinopsis"
          ></textarea>
          <div
            class="error mt-2"
            style="color: red"
            [hidden]="sinopsis.valid || sinopsis.pristine"
          >
            La Sinopsis del Libro es obligatorio
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-2">
            <label for="" class="form-label">Imagen</label>
            <textarea
              class="form-control"
              id=""
              cols="30"
              rows="5"
              formControlName="img"
              placeholder="Ingrese la Imagen del Libro"
            ></textarea>
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="img.valid || img.pristine"
            >
              La Imagen del Libro es obligatorio
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <label for="" class="form-label">Cantidad</label>
            <input
              type="number"
              formControlName="cantidad"
              class="form-control"
              placeholder="Ingrese la cantidad disponible de Libros"
            />
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="cantidad.valid || cantidad.pristine"
            >
              La Cantidad disponible del Libro es obligatorio
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-2">
            <label for="" class="form-label">Editorial</label>
            <ng-select
              [(ngModel)]="selectEditoriales"
              formControlName="id_editoriales"
            >
              <ng-option *ngFor="let a of listaEditoriales" [value]="a.id">{{
                a.editorial
              }}</ng-option>
            </ng-select>
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="id_editoriales.valid || id_editoriales.pristine"
            >
              El Editorial del Libro es obligatorio
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <label for="" class="form-label">Autor</label>
            <ng-select [(ngModel)]="selectAutores" formControlName="autores">
              <ng-option *ngFor="let a of listaAutores" [value]="a.id">
                {{ a.nombre }} {{ a.paterno }} {{ a.materno }}</ng-option
              >
            </ng-select>
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="autores.valid || autores.pristine"
            >
              El Autor del Libro es obligatorio
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="limpiar()"
        >
          Cerrar
        </button>
        <button
          type="submit"
          class="btn btn-success"
          [hidden]="formLibro.invalid"
          [disabled]="isClicked"
        >
          {{ isEdit ? "Editar" : "Guardar" }}
        </button>
      </div>
    </form>
  </div>
</div>
