<!-- <p>editorial-form works!</p> -->
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">
        {{ isEdit ? "Editar Editorial" : "Agregar Editorial" }}
      </h5>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        (click)="limpiar()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form action="" [formGroup]="formEditorial" (ngSubmit)="createEditorial()">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 mb-4">
            <label for="" class="form-label">Nombre</label>
            <input
              type="text"
              formControlName="editorial"
              class="form-control"
              placeholder="Ingrese Nombre de la Editorial"
            />
            <div
              class="error mt-4"
              style="color: red"
              [hidden]="editorial.valid || editorial.pristine"
            >
              El Nombre de Editorial es obligatorio
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <label for="" class="form-label">Teléfono</label>
            <input
              type="text"
              formControlName="telefono"
              class="form-control"
              placeholder="Ingrese la Dirección del Autor"
            />
          </div>
        </div>
        <div class="mb-2">
          <label for="" class="form-label">Dirección</label>
          <input
            type="text"
            formControlName="direccion"
            class="form-control"
            placeholder="Ingrese la Dirección del Autor"
          />
        </div>
        <div class="mb-2">
          <label for="" class="form-label">Correo Eletrónico</label>
          <input
            type="email"
            formControlName="email"
            class="form-control"
            placeholder="Ingrese la Dirección del Autor"
          />
          <div
            class="error mt-2"
            style="color: red"
            [hidden]="email.valid || email.pristine"
          >
            El Correo Electrónico es obligatorio
          </div>
        </div>
        <div class="mb-2">
          <label for="" class="form-label">País</label>
          <input
            type="text"
            formControlName="pais"
            class="form-control"
            placeholder="Ingrese El País de la Editorial."
          />
          <div
            class="error mt-2"
            style="color: red"
            [hidden]="pais.valid || pais.pristine"
          >
            El Correo Electrónico es obligatorio
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="limpiar()"
        >
          Cerrar
        </button>
        <button
          type="submit"
          class="btn btn-success"
          [hidden]="formEditorial.invalid"
          [disabled]="isClicked"
        >
          {{ isEdit ? "Editar" : "Guardar" }}
        </button>
      </div>
    </form>
  </div>
</div>
