<!-- <p>libro-detalles works!</p> -->
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">DETALLES DEL LIBRO</h5>
      <button type="button" class="close" data-bs-dismiss="modal">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-4">
          <img src="{{ libro ? libro.img : '' }}" alt="" width="250px" height="250px" />
        </div>
        <div class="col-md-8">
          <div class="col-md-4 mb-4">
            <label for="" class="form-label">Titulo</label>
            {{ libro ? libro.titulo : "" }}
          </div>
          <div class="col-md-4 mb-4">
            <label for="" class="form-label">Cantidad</label>
            {{ libro ? libro.cantidad : "" }}
          </div>
          <div class="col-md-4 mb-2">
            <label for="" class="form-label">Editorial</label>
            {{ libro ? libro.editoriales[0].editorial : "" }}
          </div>
          <div class="col-md-6 mb-2">
            <label for="" class="form-label">Pais</label>
            {{ libro ? libro.editoriales[0].pais : "" }}
          </div>
          <div class="col-md-6 mb-2">
            <label for="" class="form-label">Edición</label>
            {{ libro ? libro.num_edicion : "" }}
          </div>
          <div class="mb-2">
            <label for="" class="form-label">Fecha Publicación</label>
            {{ libro ? libro.fecha_publicacion : "" }}
          </div>
          <div class="mb-2">
            <label for="" class="form-label">Número de Páginas</label>
            {{ libro ? libro.num_paginas : "" }}
          </div>
          <div class="mb-2">
            <label for="" class="form-label">Categoria</label>
            {{ libro ? libro.categorias[0].categoria : "" }}
          </div>
          <div class="mb-2">
            <label for="" class="form-label">Autor</label>
            {{
              autor
                ? autor.nombre + " " + autor.paterno + " " + autor.materno
                : ""
            }}
          </div>
          <div class="mb-2">
            <label for="" class="form-label">Sinopsis</label>
            {{ libro ? libro.sinopsis : "" }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
