<!-- <p>autor-form works!</p> -->
<!-- <p>libro-form works!</p> -->
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">
        {{ isEdit ? "Editar Autor" : "Agregar Autor" }}
      </h5>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        (click)="limpiar()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form action="" [formGroup]="formAutor" (ngSubmit)="createAutor()">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4 mb-4">
            <label for="" class="form-label">Nombre</label>
            <input
              type="text"
              formControlName="nombre"
              class="form-control"
              placeholder="Ingrese Nombre del Autor"
            />
            <div
              class="error mt-4"
              style="color: red"
              [hidden]="nombre.valid || nombre.pristine"
            >
              El Titulo del Libro es obligatorio
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <label for="" class="form-label">Apellido Paterno</label>
            <input
              type="text"
              formControlName="paterno"
              class="form-control"
              placeholder="Ingrese el Apellido Paterno del Autor"
            />
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="paterno.valid || paterno.pristine"
            >
              El Apellido Paterno es obligatorio
            </div>
          </div>
          <div class="col-md-4 mb-2">
            <label for="" class="form-label">Apellido Materno</label>
            <input
              type="text"
              formControlName="materno"
              class="form-control"
              placeholder="Ingrese el Apellido Materno del Autor"
            />
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="materno.valid || materno.pristine"
            >
              El Apellido Materno es obligatorio
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-2">
            <label for="" class="form-label">Sexo</label>
            <select name="" id="" class="form-control" formControlName="sexo">
              <option value="" selected disabled>Selecciones una opción</option>
              <option value="M">MASCULINO</option>
              <option value="F">FEMENINO</option>
            </select>
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="sexo.valid || sexo.pristine"
            >
              El Apellido Materno es obligatorio
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <label for="" class="form-label">Teléfono</label>
            <input
              type="text"
              formControlName="telefono"
              class="form-control"
              placeholder="Ingrese la Dirección del Autor"
            />
          </div>
        </div>
        <div class="mb-2">
          <label for="" class="form-label">Dirección</label>
          <input
            type="text"
            formControlName="direccion"
            class="form-control"
            placeholder="Ingrese la Dirección del Autor"
          />
        </div>
        <div class="mb-2">
          <label for="" class="form-label">Correo Eletrónico</label>
          <input
            type="email"
            formControlName="email"
            class="form-control"
            placeholder="Ingrese la Dirección del Autor"
          />
          <div
            class="error mt-2"
            style="color: red"
            [hidden]="email.valid || email.pristine"
          >
            El Correo Electrónico es obligatorio
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="limpiar()"
        >
          Cerrar
        </button>
        <button
          type="submit"
          class="btn btn-success"
          [hidden]="formAutor.invalid"
          [disabled]="isClicked"
        >
          {{ isEdit ? "Editar" : "Guardar" }}
        </button>
      </div>
    </form>
  </div>
</div>
