<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-2">
      <div class="card card-info">
        <div class="card-header">
          <h2 class="card-title">LIBROS</h2>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <label for="" class="form-label">Autor</label>
                  <ng-select
                    [(ngModel)]="buscar.publicacion"
                    formControlName="autores"
                    (change)="findLibro()"
                  >
                    <ng-option *ngFor="let a of listaAutores" [value]="a.id">
                      {{ a.nombre }} {{ a.paterno }} {{ a.materno }}</ng-option
                    >
                  </ng-select>
                </div>
                <div class="col-md-2">
                  <label for="" class="form-label">Fecha Publicación</label>
                  <input
                    type="date"
                    name="nombre"
                    class="form-control mr-2"
                    placeholder="Esciba el Titulo del Libro"
                    (input)="findLibro()"
                    [(ngModel)]="buscar.publicacion"
                  />
                </div>
                <div class="col-md-3">
                  <label for="" class="form-label">Editorial</label>
                  <ng-select
                    [(ngModel)]="buscar.publicacion"
                    formControlName="id_editoriales"
                    (change)="findLibro()"
                  >
                    <ng-option
                      *ngFor="let a of listaEditoriales"
                      [value]="a.id"
                      >{{ a.editorial }}</ng-option
                    >
                  </ng-select>
                </div>
                <div class="col-md-2">
                  <label for="" class="form-label">Categoria</label>
                  <ng-select
                    [(ngModel)]="buscar.categoria"
                    formControlName="id_categorias"
                    (change)="findLibro()"
                  >
                    <ng-option
                      *ngFor="let a of listaCategorias"
                      [value]="a.id"
                      >{{ a.categoria }}</ng-option
                    >
                  </ng-select>
                </div>
                <div class="col-md-2 text-right">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="formAddLibro(true)"
                  >
                    Agregar Libro
                  </button>
                  <button
                    type="button"
                    class="btn btn-success"
                    (click)="exportarExcel()"
                  >
                    Exportar A Excel
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- TABLA DE DATOS -->
          <section *ngIf="cargando; else loaderOnError">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>NUM</th>
                  <th>TITULO</th>
                  <th>AUTOR</th>
                  <th>FECHA PUBLICACION</th>
                  <th class="text-center">ACCIONES</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let item of libro
                      | paginate
                        : {
                            itemsPerPage: cantReg,
                            currentPage: pagination,
                            totalItems: allLibro
                          }
                  "
                >
                  <td>{{ item.id }}</td>
                  <td>{{ item.libros[0].titulo }}</td>
                  <td>
                    {{ item.autores[0].nombre }} {{ item.autores[0].paterno }}
                    {{ item.autores[0].materno }}
                  </td>
                  <td>
                    {{ item.libros[0].fecha_publicacion | date : "dd-MM-yyyy" }}
                  </td>
                  <td>
                    <div class="dropdown text-center">
                      <button
                        class="btn btn-info dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Acciones
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <a
                            class="dropdown-item puntero"
                            (click)="detailLibro(item)"
                          >
                            <i class="far fa-pen-to-square"></i> Detalles</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item puntero"
                            (click)="findLibroByID(item)"
                          >
                            <i class="far fa-pen-to-square"></i> Editar</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item puntero"
                            (click)="eliminaLibro(item)"
                          >
                            <i class="fa fa-check"></i> Eliminar</a
                          >
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
          <div class="d-flex justify-content-center">
            <div class="col-md-1">
              <label for="form-label">Ver:</label>
            </div>
            <div class="col-md-1">
              <select
                name="cantReg"
                [(ngModel)]="cantReg"
                class="form-control"
                (change)="numRegistro()"
              >
                <option [value]="5">5</option>
                <option [value]="10" selected>10</option>
                <option [value]="20">15</option>
                <option [value]="30">20</option>
                <option [value]="40">30</option>
                <option [value]="50">40</option>
              </select>
            </div>
            <div class="col-md-10">
              <pagination-controls
                (pageChange)="renderPage($event)"
              ></pagination-controls>
            </div>
          </div>
          <!-- </section> -->
          <!-- FIN -->
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>
</div>

<!-- Modal Formulario Add & Edit -->
<div class="modal fade" id="modal-add-edit">
  <app-libro-form
    [tituloForm]="tituloForm"
    [isEdit]="isEdit"
    [item]="item"
    (clearItem)="limpiar($event)"
  ></app-libro-form>
</div>
<!-- /.modal -->

<!-- Modal Detalles -->
<div class="modal fade" id="modal-detail">
  <app-libro-detalles [item]="item"></app-libro-detalles>
</div>
<!-- /.modal -->

<ng-template #loaderOnError>
  <app-load-table></app-load-table>
</ng-template>
